In [ ]:
"""
    Which degrees have the highest starting salaries?

    Which majors have the lowest earnings after college?

    Which degrees have the highest earning potential?

    What are the lowest risk college majors from an earnings standpoint?

    Do business, STEM (Science, Technology, Engineering, Mathematics) or HASS
    (Humanities, Arts, Social Science) degrees earn more on average?

    How to explore a Pandas DataFrame

    How to detect NaN (not a number) values and clean your data

    How to select particular columns, rows, and individual cells

    How to sort your data

    How to group data by category
"""

# use pandas to create a dataframe with salaries by college major
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

# get the first five rows of the data frame
df.head()

In [ ]:
# to see the number of rows and columns we can use the shape attribute
# we can see we get 51 rows and 6 columns
df.shape

In [10]:
# check the names of the columns
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
"""
Find if there is any missing or junk data in dataframe. Look for NaN
which is for blank cells or cells with strings instead of numbers
"""
df.isna()

In [ ]:
# we see that the last row has NaN.
# lets take a look at it using tail - last part of the dataframe
df.tail()

In [ ]:
# we need to remove the NaN fields found
# we can do this manually or simply use .dropna()
# make a new dataframe by dropping the last row and then
# look at the last row to check

clean_df = df.dropna()
clean_df.tail()

In [ ]:
# Finding College Major with Highest Starting Salaries
# to access a particular column from a dataframe we can use square brackets
# we will see values just for that column
clean_df['Starting Median Salary']

In [ ]:
# Find the highest salary - we can use .max() method
clean_df['Starting Median Salary'].max()

In [ ]:
# we need to know the row number index so we can look up the name of the major
# we can see it is index 43
clean_df['Starting Median Salary'].idxmax()

In [ ]:
# now that we have the row we can use .loc() property
# we select a column - undergraduate major and row at index 43
# we get a value at a particular cell
clean_df['Undergraduate Major'].loc[43]

In [ ]:
# alternatively can use double brackets for same result
clean_df['Undergraduate Major'][43]

In [ ]:
# if column not specified using .loc gives the entire row
clean_df.loc[43]

In [ ]:
  # which degree has the highest mid-career median salary
  print(clean_df['Mid-Career Median Salary'].max())
  print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
  clean_df['Undergraduate Major'][8]

In [ ]:
# which degree has the lowest starting salary
print(clean_df['Starting Median Salary'].min())
print(f"Index for the min starting salary: {clean_df['Starting Median Salary'].idxmin()}")
clean_df['Undergraduate Major'][49]

In [ ]:
# which degree has the lowest mid-career salary
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

In [ ]:
# you can get the difference between column by subtracting them manually or using .subtract()
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

In [ ]:
# we can use the ouput of this to create another column to add to our dataframe
# using .insert()
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

In [ ]:
# check what degrees have the smallest spread using .sort_values()
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

In [ ]:
# find degrees with the highest values in the 90th percentile
clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False).head()

In [ ]:
# find the degrees with the greatest spread - largest difference between
# high and low earners after graduation
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

In [29]:
# count how many majors are in each category
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [34]:
# format the output to have commas
pd.options.display.float_format = '{:,.2f}'.format

# use the .mean() method to find the average salary by group
clean_df.groupby('Group').mean()

<ipython-input-34-8f2567b9ed25>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"